@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/Nunito-Variable.woff2") format("woff2");
  font-weight: 200 900;
  font-style: normal;
}

@utility font-nunito {
  font-family: "Nunito", sans-serif;
}

@layer base {
  * {
    font-family: "Inter", "Segoe UI", "Roboto", "Open Sans", sans-serif;
    color: var(--color-text);
  }

  h1 {
    @apply text-7xl font-bold font-nunito tracking-tighter;
  }

  h2 {
    @apply text-5xl font-semibold tracking-tight;
  }

  h3 {
    @apply text-3xl font-semibold tracking-normal;
  }

  h4 {
    @apply text-xl font-medium tracking-wide;
  }

  h5 {
    @apply text-lg font-medium tracking-wider;
  }

  h6 {
    @apply text-base font-medium tracking-widest;
  }

  p {
    @apply text-base tracking-widest;
  }
}
